body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px;
    height: 500px;
    border: 2px solid red;
    display: flex;
}

.row {
    flex: 1;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

.column {
    flex: 1;
    border-bottom: 1px solid black;
}

.active {
    background-color: black;
}